<div
  class="tobacco-card"
  [class.removing]="removing()"
  [class.with-checkmark]="withCheckmark()"
  (click)="onCardClick()"
>
  <div class="tobacco-image-container">
    <img
      [ngSrc]="displayImageUrl()"
      [alt]="displayTobaccoName()"
      class="tobacco-image"
      fill
      loading="lazy"
      (error)="onImageError($event)"
    />
  </div>
  <div class="tobacco-info">
    <h3 class="tobacco-name">{{ displayTobaccoName() }}</h3>
    <p class="tobacco-brand">{{ displayBrandName() }}</p>
    @if (displayLineName()) {
      <p class="tobacco-line">{{ displayLineName() }}</p>
    }
    @if (showRating()) {
      <div class="tobacco-rating">
        <mat-icon class="star-icon" inline>star</mat-icon>
        <span>{{ displayRatingFormatted() }}</span>
        <span class="rating-count">({{ displayRatingsCount() }})</span>
      </div>
    }
    @if (showDate()) {
      <p class="tobacco-date">{{ displayDate() }}</p>
    }
  </div>
  <button
    mat-icon-button
    class="add-button"
    [class.in-wishlist]="inWishlist()"
    (click)="onButtonClick($event)"
    [disabled]="isLoading()"
  >
    @if (!isLoading()) {
      @if (inWishlist()) {
        <mat-icon class="action-icon filled">check_circle</mat-icon>
      } @else {
        <mat-icon class="action-icon">add_circle</mat-icon>
      }
    } @else {
      <mat-spinner diameter="20" class="button-spinner"></mat-spinner>
    }
  </button>
  @if (withCheckmark()) {
    <div class="checkmark-overlay">
      <mat-icon class="checkmark-icon">check_circle</mat-icon>
    </div>
  }
  @if (withRemoveMark()) {
    <div class="checkmark-overlay remove-overlay">
      <mat-icon class="checkmark-icon">remove_circle</mat-icon>
    </div>
  }
</div>
